DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DOMAIN=
DB_PORT=5432

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

HASH_ALGORITHM=HS256
HASH_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
